In [7]:
import pandas as pd
import numpy as np 
df = pd.read_csv('time_series_covid19_deaths_global.csv')

In [9]:
df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/2/20', '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20',
       '5/9/20', '5/10/20', '5/11/20'],
      dtype='object', length=115)

In [11]:
df.sort_values('5/11/20', ascending=False).head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20
225,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,66369,67682,68922,71064,73455,75662,77180,78795,79526,80682
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,28131,28446,28734,29427,30076,30615,31241,31587,31855,32065
137,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,28710,28884,29079,29315,29684,29958,30201,30395,30560,30739
201,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,25100,25264,25428,25613,25857,26070,26299,26478,26621,26744
116,NaN,France,46.2276,2.2137,0,0,0,0,0,0,...,24729,24864,25168,25498,25772,25949,26192,26271,26341,26604
28,NaN,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,...,6761,7051,7367,7938,8588,9190,10017,10656,11123,11653
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,7765,7844,7924,8016,8339,8415,8521,8581,8656,8707
120,NaN,Germany,51.0000,9.0000,0,0,0,0,0,0,...,6812,6866,6993,6993,7275,7392,7510,7549,7569,7661
133,NaN,Iran,32.0000,53.0000,0,0,0,0,0,0,...,6156,6203,6277,6340,6418,6486,6541,6589,6640,6685
169,NaN,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,4987,5056,5082,5168,5204,5288,5359,5422,5440,5456